.container {
    border: 1px dashed black;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imgStore {
    width: 10%;
    border: 1px solid black;
    border-radius: 50%;
}

input {
    width: 100px;
}