.container{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 56%;
}
.store{
    border: 1px solid black;
    width: 40%;
    position: fixed;
    left: 57%;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}